{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Sidebar area start here -->
<div id="targetElement" class="sidebar-area sidebar__hide">
    <div class="sidebar__overlay"></div>
    <a href="index.html" class="logo mb-40">
        <img src="{% static 'images/logo/logo.svg' %}" alt="logo">
    </a>
    <div class="sidebar__search mb-30">
        <input type="text" placeholder="جستجو...">
        <i class="fa-regular fa-magnifying-glass"></i>
    </div>
    <div class="mobile-menu overflow-hidden"></div>
    <ul class="info pt-40">
        <li><i class="fa-solid primary-color fa-location-dot"></i> <a href="#0">example@example.com</a>
        </li>
        <li class="py-2"><i class="fa-solid primary-color fa-phone-volume"></i> <a
                href="tel:+208-6666-0112">+208-6666-0112</a>
        </li>
        <li><i class="fa-solid primary-color fa-paper-plane"></i> <a href="#0">info@example.com</a></li>
    </ul>
    <div class="social-icon mt-20">
        <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#0"><i class="fa-brands fa-twitter"></i></a>
        <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#0"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <button id="closeButton" class="text-white"><i class="fa-solid fa-xmark"></i></button>
</div>
<!-- Sidebar area end here -->

<!-- Fullscreen search area start here -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="جستجو" class="main-search-input" placeholder="جستجو...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fullscreen search area end here -->

<main>

    <!-- Page banner area end here -->

    <!-- Blog area start here -->
    <section class="blog-area pt-120 pb-120">
        <div class="container">
            <div class="row g-4">

                {% for i in videos %}
                <!-- <video width='400' controls>
                    <source src="{{ i.videofile.url }}" type='video/mp4'>
                    Your browser does not support the video tag.
                </video> -->

                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="blog__item">
                        <a href="{% url 'pythonium:single' vid=i.id %}" class="blog__image d-block image">
                            <img src="{{i.image.url}}" alt="image">
                            <div class="blog-tag">
                                <h3 class="text-white">{{ i.shamsi_publish_date|date:'d' }}</h3>
                                <span class="text-white">{{i.persian_published_date}}</span>
                            </div>
                        </a>
                        <div class="blog__content">

                            <h3 style="display: inline;"><a style="display: inline;"
                                    href="{% url 'pythonium:single' vid=i.id %}" class="primary-hover">{{i.title}}</a>
                                {% if i.price %}
                                {% if i.price_off %}
                                <h5
                                    style="border: 2px solid black; padding: 4px; margin: 4px; display: inline; text-decoration: line-through; color: brown;">
                                    {{i.price}} ريال</h5>
                                <h5
                                    style="border: 2px solid black; padding: 4px; margin: 4px; display: inline; color: green;">
                                    {{i.price_off}} ريال</h5>
                                {% else %}
                                <h5 style="border: 2px solid black; padding: 4px; margin: 4px; display: inline;">
                                    {{i.price}} ريال</h5>
                                {% endif %}
                                <hr>

                                <a href="{% url 'cart:add_to_cart' i.id %}" style="padding-top: 10px;">اضافه به سبد
                                    خرید</a>
                                {% else %}
                                <h5 style="border: 2px solid black; padding: 4px; margin: 4px; display: inline;">رایگان
                                </h5>
                                {% if user.is_authenticated %}
                                {% if i not in user.profile.videos.all %}
                                <form action="{% url 'accounts:active' %}" style="display: inline;" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ i.id }}">
                                    <hr>
                                    <button type="submit" style="padding-top: 10px;">فعالسازی رایگان دوره</button>
                                </form>
                                {% else %}
                                <hr style="padding-bottom: 10px;">
                                <p style="display: inline; color: green;">ویدیو دوره برای شما فعال است</p>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                <br>
                            </h3>
                            <a class="mt-25 read-more-btn" href="{% url 'pythonium:single' vid=i.id %}">بیشتر بخوانید <i
                                    class="fa-regular fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="pegi justify-content-center mt-60">
                {% if videos.has_previous %}
                <a href="?page={{ videos.previous_page_number }}"><i class="fa-solid transition">→</i></a>
                {% endif %}
                {% for i in videos.paginator.page_range %}
                {% if videos.number == i %}
                <a href="?page={{i}}" class="active">{{i}}</a>
                {% else %}
                <a href="?page={{i}}">{{i}}</a>
                {% endif %}
                {% endfor %}
                {% if videos.has_next %}
                <a href="?page={{ videos.next_page_number }}"><i class="fa-solid transition">←</i></a>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Blog area end here -->
</main>
{% endblock %}