{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Sidebar area start here -->
<div id="targetElement" class="sidebar-area sidebar__hide">
    <div class="sidebar__overlay"></div>
    <a href="index.html" class="logo mb-40">
        <img src="{% static 'assets/images/logo/logo.svg' %}" alt="logo">
    </a>
    <div class="sidebar__search mb-30">
        <input type="text" placeholder="جستجو...">
        <i class="fa-regular fa-magnifying-glass"></i>
    </div>
    <div class="mobile-menu overflow-hidden"></div>
    <ul class="info pt-40">
        <li><i class="fa-solid primary-color fa-location-dot"></i> <a href="#0">example@example.com</a>
        </li>
        <li class="py-2"><i class="fa-solid primary-color fa-phone-volume"></i> <a
                href="tel:+208-6666-0112">+208-6666-0112</a>
        </li>
        <li><i class="fa-solid primary-color fa-paper-plane"></i> <a href="#0">info@example.com</a></li>
    </ul>
    <div class="social-icon mt-20">
        <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#0"><i class="fa-brands fa-twitter"></i></a>
        <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#0"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <button id="closeButton" class="text-white"><i class="fa-solid fa-xmark"></i></button>
</div>
<!-- Sidebar area end here -->

<!-- Fullscreen search area start here -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="جستجو" class="main-search-input" placeholder="جستجو...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fullscreen search area end here -->

<main>
    <!-- Page banner area start here -->
    <section class="banner__inner-page bg-image pt-180 pb-180 bg-image"
        data-background="{% static 'assets/images/banner/banner-inner-page.jpg' %}">
        <div class="shape2 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
            <img src="{% static 'assets/images/banner/inner-banner-shape2.png' %}" alt="shape">
        </div>
        <div class="shape1 wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
            <img src="{% static 'assets/images/banner/inner-banner-shape1.png' %}" alt="shape">
        </div>
        <div class="shape3 wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
            <img class="sway__animationX" src="{% static 'assets/images/banner/inner-banner-shape3.png' %}" alt="shape">
        </div>
        <div class="container">
            <h2 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">راه حل فناوری</h2>
            <div class="breadcrumb-list wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <a href="index.html">صفحه اصلی</a><span><i class="fa-regular fa-angles-right mx-2"></i>راه حل
                    فناوری</span>
            </div>
        </div>
    </section>
    <!-- Page banner area end here -->

    <!-- Service area start here -->
    <section class="service-area pt-120 pb-120">
        <div class="service__shape wow slideInRight">
            <img class="sway_Y__animation" src="{% static 'assets/images/shape/service-bg-shape.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow bounceInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                    <div class="service__item">
                        <div class="service-shape">
                            <img src="{% static 'assets/images/shape/service-item-shape.png' %}" alt="shape">
                        </div>
                        <div class="service__icon">
                            <img src="{% static 'assets/images/icon/service-icon1.png' %}" alt="icon">
                        </div>
                        <h4><a href="service-details.html"> مدیریت فناوری اطلاعات</a></h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow bounceInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="service__item active">
                        <div class="service-shape">
                            <img src="{% static 'assets/images/shape/service-item-shape.png' %}" alt="shape">
                        </div>
                        <div class="service__icon">
                            <img src="{% static 'assets/images/icon/service-icon2.png' %}" alt="icon">
                        </div>
                        <h4><a href="service-details.html"> امنیت سایبری</a></h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow bounceInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                    <div class="service__item">
                        <div class="service-shape">
                            <img src="{% static 'assets/images/shape/service-item-shape.png' %}" alt="shape">
                        </div>
                        <div class="service__icon">
                            <img src="{% static 'assets/images/icon/service-icon3.png' %}" alt="icon">
                        </div>
                        <h4><a href="service-details.html">توسعه وب</a></h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service area end here -->

    <!-- About area start here -->
    <section class="about-area sub-bg pt-120">
        <div class="about__shape wow slideInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
            <img src="{% static 'assets/images/shape/about-line.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="about__left-item">
                        <div class="image big-image">
                            <img src="{% static 'assets/images/about/about-image1.jpg' %}" alt="image">
                        </div>
                        <div class="image sm-image">
                            <div class="video__btn-wrp">
                                <div class="video-btn video-pulse">
                                    <a class="video-popup" href="https://www.youtube.com/watch?v=iVqz_4M5mA0"><i
                                            class="fa-solid fa-play"></i></a>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/about/about-image2.png' %}" alt="image">
                        </div>
                        <div class="circle-shape">
                            <img src="{% static 'assets/images/shape/about-circle.png' %}" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="section-header mb-40">
                        <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <img class="me-1" src="{% static 'assets/images/icon/section-title.png' %}" alt="icon">
                            درباره Gratech
                        </h5>
                        <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">ما در تلاش هستیم تا
                            راه حل های کسب و کار هوشمند ارائه دهیم</h2>
                        <p class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">لورم ایپسوم متن ساختگی
                            با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                            روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                    </div>
                    <div class="row g-4 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="col-md-6">
                            <div class="about__right-item">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/about-icon1.png' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4 class="mb-1">بهترین خدمات</h4>
                                    <p>شکلات و تبلیغ اعضای نتیجه</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about__right-item">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/about-icon2.png' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4 class="mb-1"> پشتیبانی تماس 24 ساعته</h4>
                                    <p>شکلات و تبلیغ اعضای نتیجه</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about__info mt-50 wow fadeInDown" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <a href="about.html" class="btn-one">کاوش بیشتر <i
                                class="fa-regular fa-arrow-right-long"></i></a>
                        <div class="d-flex gap-2 align-items-center">
                            <img src="{% static 'assets/images/about/about-info.png' %}" alt="image">
                            <div class="info">
                                <h5>محمود داوودی</h5>
                                <span class="sm-font">شرکت، موسس</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end here -->

    <!-- Counter area start here -->
    <section class="counter-area">
        <div class="container">
            <div class="counter__wrp gradient-bg">
                <div class="counter__shape wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <img src="{% static 'assets/images/shape/counnter-bg-shape.png' %}" alt="shape">
                </div>
                <div class="counter__item wow bounceInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                    <img src="{% static 'assets/images/icon/counter-icon1.png' %}" alt="icon">
                    <div class="content">
                        <h3><span class="count">6,561</span>+</h3>
                        <p class="text-white">مشتریان راضی</p>
                    </div>
                </div>
                <div class="counter__item wow bounceInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <img src="{% static 'assets/images/icon/counter-icon2.png' %}" alt="icon">
                    <div class="content">
                        <h3><span class="count">600</span>+</h3>
                        <p class="text-white">پروژه های تمام شده</p>
                    </div>
                </div>
                <div class="counter__item wow bounceInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                    <img src="{% static 'assets/images/icon/counter-icon3.png' %}" alt="icon">
                    <div class="content">
                        <h3><span class="count">250</span>+</h3>
                        <p class="text-white">کارشناسان ماهر</p>
                    </div>
                </div>
                <div class="counter__item wow bounceInUp" data-wow-delay="800ms" data-wow-duration="1000ms">
                    <img src="{% static 'assets/images/icon/counter-icon4.png' %}" alt="icon">
                    <div class="content">
                        <h3><span class="count">590</span>+</h3>
                        <p class="text-white">پست های رسانه ای</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter area end here -->

    <!-- Team area start here -->
    <section class="team-area pt-120 pb-120">
        <div class="container">
            <div class="section-header text-center mb-60">
                <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <svg class="me-1" width="20" height="12" viewBox="0 0 20 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.75" y="0.747803" width="18.5" height="10.5" rx="5.25" stroke="#3C72FC"
                            stroke-width="1.5" />
                        <mask id="path-2-inside-1_687_602" fill="white">
                            <path
                                d="M3 5.9978C3 3.78866 4.79086 1.9978 7 1.9978H13C15.2091 1.9978 17 3.78866 17 5.9978C17 8.20694 15.2091 9.9978 13 9.9978H7C4.79086 9.9978 3 8.20694 3 5.9978Z" />
                        </mask>
                        <path
                            d="M3 5.9978C3 2.96024 5.46243 0.497803 8.5 0.497803H11.5C14.5376 0.497803 17 2.96024 17 5.9978C17 4.61709 15.2091 3.4978 13 3.4978H7C4.79086 3.4978 3 4.61709 3 5.9978ZM17 5.9978C17 9.03537 14.5376 11.4978 11.5 11.4978H8.5C5.46243 11.4978 3 9.03537 3 5.9978C3 7.37851 4.79086 8.4978 7 8.4978H13C15.2091 8.4978 17 7.37851 17 5.9978ZM3 9.9978V1.9978V9.9978ZM17 1.9978V9.9978V1.9978Z"
                            fill="#3C72FC" mask="url(#path-2-inside-1_687_602)" />
                    </svg>
                    تیم ما
                </h5>
                <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">تیم رهبری ما</h2>
            </div>
            <div class="row g-4">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="team__item">
                        <div class="image">
                            <img src="{% static 'assets/images/team/team-image1.jpg' %}" alt="image">
                        </div>
                        <div class="team__content">
                            <h4><a class="text-white" href="team-details-2.html">احمد کوشایی</a></h4>
                            <span class="text-white">طراح وب</span>
                        </div>
                        <div class="team__share">
                            <ul>
                                <li>
                                    <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#0"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#0"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                            <button><i class="fa-sharp fa-light fa-share-nodes"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="team__item">
                        <div class="image">
                            <img src="{% static 'assets/images/team/team-image2.jpg' %}" alt="image">
                        </div>
                        <div class="team__content">
                            <h4><a class="text-white" href="team-details-2.html">فاطمه کارنیز</a></h4>
                            <span class="text-white">پشتیبانی مشتری</span>
                        </div>
                        <div class="team__share">
                            <ul>
                                <li>
                                    <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#0"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#0"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                            <button><i class="fa-sharp fa-light fa-share-nodes"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="team__item">
                        <div class="image">
                            <img src="{% static 'assets/images/team/team-image3.jpg' %}" alt="image">
                        </div>
                        <div class="team__content">
                            <h4><a class="text-white" href="team-details-2.html">جاوید رضایی</a></h4>
                            <span class="text-white">طراح UI/UX</span>
                        </div>
                        <div class="team__share">
                            <ul>
                                <li>
                                    <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#0"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#0"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                            <button><i class="fa-sharp fa-light fa-share-nodes"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team area end here -->
</main>

{% endblock %}