<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
    <style>
        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: goldenrod;
            text-shadow: 10px;
        }

        div {
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
</head>

<body>
    <div>
        <h1>Django</h1>
    </div>

    {% for i in videos %}
    <video width='400' controls>
        <source src="{{ i.videofile.url }}" type='video/mp4'>
        Your browser does not support the video tag.
    </video>
    {% endfor %}

</body>

</html>